/* Tag Selector */
body {
    text-align: center;
}

button, input[type="text"] {
    margin-top: 30px;
    display: inline-block;
    padding: 5px;
    text-align: center;
  }

h1 {
    text-align: center;
    color: white;
    font-family: 'Mulish', sans-serif;
}

h2 {
    font-size: 3rem;
    margin-top: .5rem;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

h3 {
    margin-top: .5rem;
    text-align: center;
    padding: 0 20px;
    font-size: 1.75rem;
    font-family: 'Staatliches', cursive;
}

h4 {
    text-align: center;
    font-family: 'Abel', sans-serif;
}

header {
    background-color: #5f5f5f;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 800px;
}

form {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
}

p {
    text-align: center;
    font-family: 'Mulish', sans-serif;
}


/* Class Selector */
.question {
    /* color: grey; */
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }

.catBox 
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding: 0 4rem 2rem;

    border: 0.1em #371d0d solid;
}

.question_padding {
    padding-right: 1rem;
}

.startQuiz {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 1em;
  border: 0.1em #371d0d solid;
}

.images {
    width: 100%;
}

.inline {
    display: inline-block;
}

.button {
    text-align: center
}


/* ID Selector */
#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#bottom-margin {
     margin-bottom: 30px;
 }

#sadFace {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#totalImage {
    width: 75;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

